<div class="card" *ngIf="user">
  <div class="row p-4">
    <div class="col-sm-4 px-5">
      <div class="row">
        <div class="col-12 center">
          <div class="card-header border-0 mt-4 d-flex justify-content-center">
            <div class="symbol symbol-100">
              <div class="cont-img symbol-light-success">
                <div>
                  {{ user?.name| firstLetter | uppercase }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 center mt-5">
          <h6 class="px-4">{{user?.name + ' ' +  user?.last_name |titlecase}}</h6>
        </div>
        <div class="col-12 center mt-3">
          <h6 class="px-4">{{user?.email}}</h6>
        </div>
        <div class="col-12 center mt-3">
          <h6 class="px-4">{{user?.phone}}</h6>
        </div>

        <div class="card-body p-0 position-relative overflow-hidden mt-3 mx-2">
          <div class="m-x2 mt-2">
            <div class="row m-0">
              <div class="col-xl-12 col-sm-12 bg-light-success rounded-xl
                            d-flex justify-content-center align-items-center p-3 ">

                <a class="text-success font-weight-bold font-size-h6">
                  Pastor /
                  {{user?.pastor?.name ? user?.pastor?.name :''  + ' ' +user?.pastor?.last_name ? user?.pastor?.last_name :''  |titlecase}}
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body p-0 position-relative overflow-hidden mt-3 mx-3">
          <div class="m-x2 mt-2">
            <div class="row m-0">
              <div class="col-xl-12 col-sm-12 bg-light-success rounded-xl
                            d-flex justify-content-center align-items-center p-3 ">

                <a class="text-success font-weight-bold font-size-h6">
                  Lider /
                  {{user?.leader?.name ? user?.leader?.name :''  + ' ' +user?.leader?.last_name ? user?.leader?.last_name :''  |titlecase}}

                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 center mt-5">
          <div class="col-sm-12 center">
            <h5 class="h5">Escalera Exito</h5>
          </div>
        </div>

        <div class="col-12  center pt-2">
          <div class="cont-count-celula p-3">
            <h5 class="center">Ganar</h5>
          </div>
        </div>

        <div class="col-12  center pt-2">
          <div class="cont-count-celula p-3">
            <h5 class="center">U de la vida</h5>
          </div>
        </div>
        <div class="col-12  center pt-2">
          <div class="cont-count-celula p-3">
            <h5 class="center">Enviar</h5>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-8 col-12 mt-3">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="h4">{{user?.church?.name | titlecase}} /

            {{user?.pastor?.name? user?.pastor?.name :'' + ' ' + user?.pastor?.last_name ? user?.pastor?.last_name :' '  |titlecase}}

          </h4>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 col-12  center pt-2">
          <div class="cont-count p-3">
            <h5 class="center">Usuarios</h5>
            <h3 class="center">1546</h3>
          </div>
        </div>
        <div class="col-sm-4 col-12  center pt-2">
          <div class="cont-count p-3">
            <h5 class="center">Lideres</h5>
            <h3 class="center">1546</h3>
          </div>
        </div>
        <div class="col-sm-4 col-12  center pt-2">
          <div class="cont-count p-3">
            <h5 class="center">Celulas</h5>
            <h3 class="center">1546</h3>
          </div>
        </div>
      </div>

      <div class="mt-10">
        <app-ministry [user]="user" [ministry]="ministry" [count]="count_ministry" (paginator)="getMinistry($event)">
        </app-ministry>
      </div>
      <div class="mt-13">
        <app-main-network [leaders]='leaders'></app-main-network>
      </div>
    </div>
  </div>
</div>
