<div class="row">
  <div class="col">
    <mat-form-field appearance="fill">
      <mat-label>Filtro</mat-label>
      <mat-select [formControl]="filter" (ngModelChange)="getTransactionsFilter()">
        <mat-option [value]="1">Hoy</mat-option>
        <mat-option [value]="2">Semana</mat-option>
        <mat-option [value]="3">Mes</mat-option>
        <mat-option [value]="4">Año</mat-option>
        <mat-option [value]="5">total</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col">
    <mat-form-field appearance="fill">
      <mat-label>Filtro</mat-label>
      <mat-select [formControl]="payment_mehtod" (ngModelChange)="getTransactionsFilter()">
        <mat-option [value]="'cash'">EFECTIVO</mat-option>
        <mat-option [value]="'pse'">PSE</mat-option>
        <mat-option [value]="'credit_epayco'">TARJETA DE CREDITO EPAYCO</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div *ngIf="showChart">
  <apx-chart [series]="barsStatusPayment?.series" [chart]="barsStatusPayment?.chart"
  [dataLabels]="barsStatusPayment?.dataLabels" [plotOptions]="barsStatusPayment?.plotOptions"
  [yaxis]="barsStatusPayment?.yaxis" [xaxis]="barsStatusPayment?.xaxis" [legend]="barsStatusPayment?.legend"
  [colors]="barsStatusPayment?.colors" [grid]="barsStatusPayment?.grid"></apx-chart>
</div>
<div *ngIf="!showChart">
<app-not-found-chart></app-not-found-chart>
</div>

