<div class="row">
  <div class="col-xl-12 col-sm-12">
    <div class="card card-custom example example-compact gutter-b">
      <div class="card-header d-flex">
        <div class="w-75">
          <div class="card-title d-block pb-2">
            <h3 class="card-label pt-4 pb-4">
              {{ (box ? "Caja " + box.name : "Sin caja") |uppercase}}
            </h3>
            <h6 style="font-size: small; color: rgb(163, 163, 163)"></h6>
          </div>
        </div>
        <div class="card-toolbar">
          <div class="example-tools justify-content-center">
            <mat-icon style="font-size: xx-large; color: rgb(218, 214, 214)"
              >inbox</mat-icon
            >
          </div>
        </div>
      </div>
      <!-- MOSTRAMOS EN CASO DE QUE EXISTA CAJA -->
      <div class="card-body m-1" *ngIf="box">
        <div class="row">
          <h4 class="h4">Eventos</h4>
        </div>
        <div>
          <app-events></app-events>
        </div>
        <div class="mt-3">
          <div class="d-flex justify-content-center">
            <h4 class="h4">Registrar Usuarios</h4>
          </div>
          <app-registered-users [box]="box"> </app-registered-users>
        </div>
      </div>
    <!-- MOSTRAMOS EN CASO DE QUE NO EXISTA CAJA -->
      <div class="card-body not-found" *ngIf="!box">
        <div>USUARIO SIN CAJA ASIGNADA</div>
      </div>

    </div>
  </div>
</div>
