.card-payment {
  cursor: pointer;
  width: 15rem;
  margin: 8px;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
  // color: #4a4a4a;
  position: relative;
  font-size: 15px;
}
i {
  color: #4a4a4a;
}
.card-selected {
  // color: var(--purple) !important;
  background: #f0f0f0 !important;
  border: 1px solid !important;
}
mat-icon {
  font-size: 50px;
  width: 50px;
  height: 50px;
}
.btn {
  font-size: 16px;
}

@media only screen and (max-width: 900px) {
  .card-payment {
    width: 100%;
  }
}
