<div class="row">
  <div class="col-xl-12 col-sm-12">
    <div class="card card-custom example example-compact gutter-b">
      <div class="card-header d-flex">
        <div class="w-75">
          <div class="card-title d-block pb-2">
            <h3 class="card-label pt-4 pb-4">Email de bienvenida</h3>
          </div>
        </div>
        <div class="card-toolbar">
          <div class="example-tools justify-content-center"></div>
        </div>
      </div>
      <div class="card-body">
        <h4 class="h4">Asunto</h4>
        <div class="row mt-5">
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Español</mat-label>
              <input matInput type="text" autocomplete="off" placeholder="" />
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Ingles</mat-label>
              <input matInput type="text" autocomplete="off" placeholder="" />
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Portugues</mat-label>
              <input matInput type="text" autocomplete="off" placeholder="" />
            </mat-form-field>
          </div>
        </div>

        <h4 class="h4 mt-5">Imagen</h4>
        <div class="row justify-content-center">
          <div>
            <img
              class="cot-img"
              alt=""
              src="https://ci6.googleusercontent.com/proxy/CmXhMLafA3MTigitBSXGU0jwuc4VjCaD2uLzRluouDOjpDSyWhJ0inTMI_3-NUiDZ4KqoAZ2eVEBS9wYB_XTcptTt3virvwFtZowhVfctZigqp5q8AZjtHGydJBo7TMXJXJEyU_RgybrUqCW5P30fvHT-uhjOYamGp1QZR6k6NWQFtcrWN8=s0-d-e1-ft#http://cdn.mcauto-images-production.sendgrid.net/2b9a30a84e3f5edf/3de12264-666f-4ad8-996d-0e9f1f887dff/1512x700.png"
            />
          </div>
        </div>

        <h4 class="h4 mt-5">Cuerpo del correo</h4>
        <div class="row mt-5">
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Español </mat-label>
              <textarea matInput autocomplete="off"> </textarea>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Ingles </mat-label>
              <textarea matInput autocomplete="off"> </textarea>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Portugues </mat-label>
              <textarea matInput autocomplete="off"> </textarea>
            </mat-form-field>
          </div>
        </div>

        <h4 class="h4">Texto Bliblico</h4>
        <div class="row mt-5">
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Español</mat-label>
              <input matInput type="text" autocomplete="off" placeholder="" />
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Ingles</mat-label>
              <input matInput type="text" autocomplete="off" placeholder="" />
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Portugues</mat-label>
              <input matInput type="text" autocomplete="off" placeholder="" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
