<div class="row">
  <div class="col-xl-12 col-sm-12">
      <div class="card card-custom example example-compact gutter-b">
          <div class="card-header d-flex">
              <div class="w-75">
                  <div class="card-title d-block pb-2">
                      <h3 class="card-label pt-4 pb-4">Usuarios</h3>
                  </div>
              </div>
              <div class="card-toolbar">
                  <div class="example-tools justify-content-center">
                      <mat-icon style="font-size: xx-large; color: rgb(218, 214, 214);">person</mat-icon>
                  </div>
              </div>
          </div>
          <div class="card-body">
              <div>
                  <div class="row">
                      <div class="col-xl-9 col-sm-12">
                        <form [formGroup]="filterForm" (ngSubmit)="onSubmit();" style="width: 100%;">
            
                            <mat-form-field appearance="fill" class="ml-sm-0 ml-xl-3">
                                <mat-label>Selecciona Filtro</mat-label>
                                <mat-select #filter type="select" formControlName="filter" (selectionChange)="cleanFilter();">
                                    <mat-option value="0">Identificación</mat-option>
                                    <mat-option value="1">Email</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <ng-container *ngIf="filter.value == '0'">
                                <mat-form-field class="example-full-width" appearance="fill" class="ml-sm-0 ml-xl-3">
                                    <mat-label>Digita identificación</mat-label>
                                    <input matInput autocomplete="off" formControlName="identification" (keypress)="numberOnly($event);">
                                </mat-form-field>
                            </ng-container>
                            
                            <ng-container *ngIf="filter.value == '1'">
                                <mat-form-field class="example-full-width" appearance="fill" class="ml-sm-0 ml-xl-3">
                                    <mat-label>Digita email</mat-label>
                                    <input matInput autocomplete="off" formControlName="email">
                                </mat-form-field>
                            </ng-container>
                            <button *ngIf="!isLoading" [disabled]="filterForm.invalid"
                                class="btn btn-sm btn-light-primary font-weight-bolder py-2 px-5 ml-5 cursor-pointer">
                                Buscar
                            </button>
           
                            <div *ngIf="isLoading" class="spinner-border text-primary ml-5" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
            
                        </form>
                    </div>
                  </div>
                  <div class="row p-3">
                      <div class="col-xl-12 col-sm-12">
                          <app-users-table (endLoading)="isLoading = false;"></app-users-table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>