.container-buttons-add {
    display: flex;
    justify-content: right;
    .btn-light-danger {
        margin-right: 10px;
    }
    .btn-light-success {
        margin-left: 10px;
    }
}

.container-prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
    .item-price {
        text-align: center;
    }
}
