<div class="row">

  <div class="col-sm-12 col-sm-12">

    <div class="card card-custom example example-compact gutter-b">

      <div class="card-header d-flex">

        <div class="w-75">

          <div class="card-title d-block pb-2">
            <h3 class="card-label pt-4 pb-4">Registrar Usuario</h3>
            <h6 style="font-size: small; color: rgb(163, 163, 163)">
              En esta sección podrás registrar un usuario a un evento.
            </h6>
          </div>


          <button (click)="clickeddd()">llegue q tin</button>

        </div>

        <div class="card-toolbar">

          <div class="example-tools justify-content-center">
            <img src="assets/media/svg/icons/Shopping/Ticket.svg" alt="" />
          </div>
        </div>

      </div>

      <div class="card-body" *ngIf="formRegisterUser">

        <div class="container-prices">

          <div class="item-price">

            <h4 class="h4">Valor de los Traductores:</h4>

            <ng-container *ngIf="formRegisterUser.controls.payment_information['controls'].currency.value === 'COP'">
              <p class="lead"> {{ totalPrices.prices_translator_cop | currency: 'COP' : 'symbol': '1.0-0' }}</p>
            </ng-container>

            <ng-container *ngIf="formRegisterUser.controls.payment_information['controls'].currency.value === 'USD'">
              <p class="lead"> {{ totalPrices.prices_translator_usd | currency: 'USD' }}</p>
            </ng-container>

          </div>

          <div class="item-price">

            <h4 class="h4">Valor de los eventos:</h4>

            <ng-container *ngIf="formRegisterUser.controls.payment_information['controls'].currency.value === 'COP'">
              <p class="lead">{{ totalPrices.prices_event_cop | currency: 'COP' : 'symbol': '1.0-0' }}</p>
            </ng-container>

            <ng-container *ngIf="formRegisterUser.controls.payment_information['controls'].currency.value === 'USD'">
              <p class="lead">{{ totalPrices.prices_event_usd | currency: 'USD' }}</p>
            </ng-container>

          </div>

          <div class="item-price">

            <h4 class="h4">Total a Pagar:</h4>

            <ng-container *ngIf="formRegisterUser.controls.payment_information['controls'].currency.value === 'COP'">
              <p class="lead">
                <strong>{{ totalPrices.total_price_cop | currency: 'COP' : 'symbol': '1.0-0' }}</strong>
              </p>

            </ng-container>

            <ng-container *ngIf="formRegisterUser.controls.payment_information['controls'].currency.value === 'USD'">
              <p class="lead">
                <strong>{{ totalPrices.total_price_usd | currency: 'USD' }}</strong>
              </p>
            </ng-container>

          </div>

        </div>

        <form [formGroup]="formRegisterUser" (ngSubmit)="onSubmit();">

          <h4 class="h4">Información del pago</h4>

          <div class="row mt-5" formGroupName="payment_information">

            <div class="col-sm-3 col-12">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombres Pagador*</mat-label>
                <input matInput type="text" formControlName="name" autocomplete="n_">
              </mat-form-field>
            </div>

            <div class="col-sm-3 col-12">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Apellidos Pagador*</mat-label>
                <input matInput type="text" formControlName="last_name">
              </mat-form-field>
            </div>

            <div class="col-sm-3 col-12">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Correo*</mat-label>
                <input matInput type="email" formControlName="email">
              </mat-form-field>
            </div>

            <div class="col-sm-3 col-12">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Pais*</mat-label>
                <input type="text" placeholder="Busca y selecciona un país" matInput formControlName="country"
                  [matAutocomplete]="auto_countries" autocomplete="c_c">
                <mat-autocomplete autoActiveFirstOption #auto_countries="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredCountriesUser | async" [value]="option">
                    {{ option.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <ng-container
              *ngIf="formRegisterUser.controls.payment_information['controls'].country.value?.name === 'COLOMBIA'">
              <div class="col-sm-3 col-12">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Número de Documento*</mat-label>
                  <input matInput (keypress)="validateNumber($event)" formControlName="document">
                </mat-form-field>
              </div>

              <div class="col-sm-3 col-12">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Tipo de documento* </mat-label>
                  <mat-select type="select" formControlName="document_type">
                    <mat-option value="CC"> CC </mat-option>
                    <mat-option value="CC"> TI </mat-option>
                    <mat-option value="CE"> CE </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </ng-container>

            <div class="col-sm-3 col-12">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Moneda*</mat-label>
                <mat-select type="select" formControlName="currency">
                  <mat-option value="COP"> COP</mat-option>
                  <mat-option value="USD"> USD</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-3 col-12">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Forma de pago*</mat-label>
                <mat-select type="select" formControlName="is_dataphone">
                  <mat-option [value]="false">EFECTIVO</mat-option>
                  <mat-option [value]="true">DATAFONO</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-3 col-12"
              *ngIf="formRegisterUser.controls.payment_information['controls'].is_dataphone.value">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Numero de aprobación*</mat-label>
                <input matInput maxlength="6" formControlName="description_of_change">
              </mat-form-field>
            </div>

            <br>

          </div>

          <div formArrayName="users">

            <div *ngFor="let user of users().controls; let i_user = index; let last = last;" [formGroupName]="i_user">

              <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">

                <ngb-panel title="Usuario #{{i_user + 1}}">

                  <ng-template ngbPanelContent>

                    <div class="row" formGroupName="event_information">

                      <div class="col-12">
                        <h4 class="h4 mt-6">Información del evento</h4>
                      </div>

                      <div class="col-sm-6 mt-6">

                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Evento*</mat-label>
                          <input type="text" placeholder="Busca y selecciona un evento." matInput
                            formControlName="event" [matAutocomplete]="auto" autocomplete="off" id="">
                          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let event of events" [value]="event">
                              {{ event.name }}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>

                        <mat-slide-toggle class="example-margin" formControlName="active_translator"
                          *ngIf="users().controls[i_user]['controls'].event_information['controls'].event.value?.is_translator">
                          Traductor
                        </mat-slide-toggle>

                      </div>

                      <div class="col-sm-6 mt-6">

                        <mat-form-field appearance="fill" class="example-full-width">
                          <mat-label>Corte*</mat-label>
                          <mat-select type="select" formControlName="financial_cut">
                            <mat-option
                              *ngFor="let cut of users().controls[i_user]['controls'].event_information['controls'].all_financial_cut.value"
                              [value]="cut" (click)="cutClick();">
                              {{ cut.name + " | " + "COP " + cut?.prices["cop"] + " | " +"USD " + cut?.prices["usd"] }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                      </div>

                    </div>

                    <h4 class="h4 mt-6">Información Personal</h4>

                    <div formGroupName="assistant">

                      <div class="row mt-6">

                        <div class="col-sm-6 col-12">

                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Pais*</mat-label>
                            <input type="text" placeholder="Busca y selecciona un país" matInput
                              formControlName="country" [matAutocomplete]="auto_countries" autocomplete="c">
                            <mat-autocomplete autoActiveFirstOption #auto_countries="matAutocomplete"
                              [displayWith]="displayFn">
                              <mat-option *ngFor="let option of filteredCountries | async" [value]="option"
                                (click)="resetMinisterialInfo(i_user);">
                                {{ option.name }}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>

                        </div>

                        <div class="col-sm-6 col-12">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Genero*</mat-label>
                            <mat-select type="select" formControlName="gender">
                              <mat-option value="F"> Femenino </mat-option>
                              <mat-option value="M"> Masculino </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                      </div>

                      <div class="row"
                        *ngIf="users().controls[i_user]['controls'].assistant['controls'].country.value?.name === 'COLOMBIA'">

                        <div class="col-sm-6 col-12">
                          <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Tipo de documento* </mat-label>
                            <mat-select type="select" formControlName="document_type">
                              <mat-option value="CC"> CC </mat-option>
                              <mat-option value="CC"> TI </mat-option>
                              <mat-option value="CE"> CE </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-12">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Documento*</mat-label>
                            <input matInput autocomplete="off" formControlName="identification"
                              (keypress)="validateNumber($event)" (keydown.Tab)="searchUser(true)"
                              (keyup.enter)="searchUser(true)" />
                            <button type="button" matSuffix mat-icon-button (click)="searchUser(true)">
                              <mat-icon matPrefix>search</mat-icon>
                            </button>
                          </mat-form-field>
                        </div>

                      </div>

                      <div class="row">

                        <div class="col-sm-6 col-12">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nombre*</mat-label>
                            <input matInput autocomplete="off" formControlName="name" />
                          </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-12">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Apellido*</mat-label>
                            <input matInput autocomplete="off" formControlName="last_name" />
                          </mat-form-field>
                        </div>

                      </div>

                      <h4 class="h4">Información de contacto</h4>

                      <div class="row mt-5">

                        <div class="col-sm-6 col-12">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Correo*</mat-label>
                            <input matInput autocomplete="off" formControlName="email" />
                          </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-12">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Confirmar Correo*</mat-label>
                            <input matInput autocomplete="off" (keydown.Tab)="searchUser(true)"
                              (keyup.enter)="searchUser(true)" formControlName="email_confirmation" />
                            <button type="button" matSuffix mat-icon-button (click)="searchUser(true)">
                              <mat-icon matPrefix>search</mat-icon>
                            </button>
                          </mat-form-field>
                        </div>

                      </div>

                      <div class="row">

                        <div class="col-sm-6 col-12">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Celular*</mat-label>
                            <input matInput autocomplete="off" formControlName="phone" />
                          </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-12">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Idioma*</mat-label>
                            <mat-select type="select" formControlName="language">
                              <mat-option value="es"> ESPAÑOL </mat-option>
                              <mat-option value="en"> INGLES </mat-option>
                              <mat-option value="pt"> PORTUGUES </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                      </div>

                      <h4 class="h4">Información Ministerial</h4>

                      <div class="row mt-5">

                        <div class="col-sm-6 col-12">

                          <mat-form-field class="example-full-width" appearance="fill">

                            <mat-label>Tipo de iglesia*</mat-label>

                            <mat-select type="select" formControlName="type_church">
                              <mat-option value="MCI" (click)="resetMinisterialInfo(i_user);">
                                Iglesia MCI
                              </mat-option>
                              <mat-option value="G12" (click)="resetMinisterialInfo(i_user);">
                                Iglesia G12
                              </mat-option>
                              <mat-option value="OT" (click)="resetMinisterialInfo(i_user);">
                                Otra Iglesia
                              </mat-option>
                            </mat-select>

                          </mat-form-field>

                        </div>

                        <!-- CASO DE IGLESIA DE TIPO MCI  -->

                        <ng-container
                          *ngIf="users().controls[i_user]['controls'].assistant['controls'].type_church?.value === 'MCI'">

                          <div class="col-sm-6 col-12">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Red*</mat-label>
                              <mat-select type="select" formControlName="network">
                                <mat-option [value]="'01'" (click)="getPastors('01', i_user)">
                                  Hombres
                                </mat-option>
                                <mat-option [value]="'02'" (click)="getPastors('02', i_user)">
                                  Mujeres
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <div class="col-sm-6 col-12">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Iglesia*</mat-label>
                              <input type="text" placeholder="Busca y selecciona una iglesia" matInput
                                formControlName="church" [matAutocomplete]="auto">
                              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                                <mat-option
                                  *ngFor="let church of users().controls[i_user]['controls'].assistant['controls'].all_churchs.value"
                                  [value]="church">
                                  {{ church.name | uppercase }}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                          </div>

                          <div class="col-sm-6 col-12">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Pastor*</mat-label>
                              <mat-select type="select" formControlName="pastor">
                                <mat-option
                                  *ngFor="let pastor of users().controls[i_user]['controls'].assistant['controls'].all_pastors.value"
                                  [value]="pastor" (click)="getLeaders(i_user, pastor)">
                                  {{ pastor.name + " " + pastor.last_name | uppercase }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <div class="col-sm-6 col-12">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Lider*</mat-label>
                              <mat-select type="select" formControlName="leader">
                                <mat-option
                                  *ngFor="let leader of users().controls[i_user]['controls'].assistant['controls'].all_leaders.value"
                                  [value]="leader">
                                  {{ leader.name + " " + leader.last_name | uppercase }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                        </ng-container>

                        <!-- FIN CASO DE IGLESIA DE TIPO MCI  -->

                        <!-- OTRAS IGLESIAS QUE NO SON MCI-->

                        <ng-container *ngIf="users().controls[i_user]['controls'].assistant['controls'].type_church?.value 
                          && users().controls[i_user]['controls'].assistant['controls'].type_church?.value !== 'MCI'">

                          <div class="col-sm-6 col-12">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Nombre de Iglesia*</mat-label>
                              <input matInput autocomplete="off" formControlName="name_church" />
                            </mat-form-field>
                          </div>

                          <div class="col-sm-6 col-12">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Nombre de Pastor*</mat-label>
                              <input matInput autocomplete="off" formControlName="name_pastor" />
                            </mat-form-field>
                          </div>

                        </ng-container>

                      </div>

                    </div>

                    <div class="container-buttons-add">

                      <button type="button"
                        class="btn btn-sm btn-light-danger font-weight-bolder py-2 px-5 cursor-pointer"
                        (click)="removeField(i_user);" [disabled]="isLoading">
                        Borrar Usuario
                      </button>

                      <ng-container *ngIf="last">

                        <button class="btn btn-sm btn-light-primary font-weight-bolder py-2 px-5 cursor-pointer"
                          (click)="addField();" [disabled]="isLoading">
                          Añadir Usuario
                        </button>

                        <button class="btn btn-sm btn-light-success font-weight-bolder py-2 px-5 cursor-pointer"
                          type="submit" [disabled]="isLoading">
                          Registrar
                        </button>

                      </ng-container>

                    </div>

                  </ng-template>

                </ngb-panel>

              </ngb-accordion>

              <br>

            </div>

          </div>

        </form>

      </div>

    </div>

  </div>

</div>