<div class="login-form login-forgot">
  <!--begin::Form-->
  <form
    
    class="form fv-plugins-bootstrap fv-plugins-framework"
    novalidate="novalidate"
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="submit()"
    id="kt_login_forgot_form"
  >
    <!--begin::Title-->
    <div class=" pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        Actualizar Contraseña
      </h3>
      <p class="text-muted font-weight-bold font-size-h4">
        Ingresa una nueva contraseña
      </p>
    </div>
    <!--end::Title-->

    <!-- begin::Alert error-->
  
    <!-- end::Alert error-->


    <!--begin::Form group-->
    

    <div class="form-group fv-plugins-icon-container has-danger">
      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
        type="password"
        formControlName="password"
        placeholder="******"
        name="password"
        autocomplete="off"
        [ngClass]="{
          'is-invalid': forgotPasswordForm.controls['password'].invalid
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'La contraseña es requerida',
          control: forgotPasswordForm.controls['password']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minLength',
          message: 'La contraseña debe contener al menos 3 caracteres',
          control: forgotPasswordForm.controls['password']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'La constraseña debe contener máximo 30 caracteres',
          control: forgotPasswordForm.controls['password']
        }"
      ></ng-container>
    </div>



    <!--end::Form group-->
    <!--begin::Form group-->
    <div class="form-group d-flex flex-wrap pb-lg-0">
      <button
        type="submit"
        id="kt_login_forgot_submit"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
      >
        Actualizar
      </button>
      <a
        routerLink="/auth/login"
        id="kt_login_forgot_cancel"
        class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"
      >
        Cancelar
      </a>

      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <!--end::Form group-->
    <div></div>
  </form>
  <!--end::Form-->

</div>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
