:host {
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}

.mat-form-field{
  font-family: Poppins, Helvetica, "sans-serif";
}

.mat-form-field-wrapper{
  padding-bottom: 0px !important;
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: #F3F6F9 !important;
}