<div class="row">
  <div class="col-sm-12 col-sm-12">
    <div class="card card-custom example example-compact gutter-b">
      <div class="card-header d-flex">
        <div class="w-75">
          <div class="card-title d-block pb-2">
            <h3 class="card-label pt-4 pb-4">Editar Evento</h3>
            <h6 style="font-size: small; color: rgb(163, 163, 163)">
              En esta sección podrás editar la información del evento
              seleccionado
            </h6>
          </div>
        </div>
        <div class="card-toolbar">
          <div class="example-tools justify-content-center">
            <mat-icon style="font-size: xx-large; color: rgb(218, 214, 214)"
              >settings</mat-icon
            >
          </div>
        </div>
      </div>
      <div class="card-body">
        <form
          class="w-form"
          [formGroup]="editEventForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="row">
            <div class="col-xl-6 col-sm-12">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre del evento*</mat-label>
                <input matInput autocomplete="off" formControlName="name" />
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Descripción</mat-label>
                <textarea
                  matInput
                  style="max-height: 80px"
                  formControlName="description"
                ></textarea>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Tipos de eventos</mat-label>
                <mat-select formControlName="categorieAdd">
                  <mat-option
                    (click)="pushCategorie()"
                    *ngFor="let categorie of categories"
                    [value]="categorie.value"
                  >
                    {{ categorie.value }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-chip-list
                class="example-chip"
                cdkDropList
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)"
              >
                <mat-chip
                  class="example-box"
                  cdkDrag
                  *ngFor="
                    let item of editEventForm.get('category').value;
                    let i = index
                  "
                >
                  {{ item }}

                  <mat-icon
                    class="remove-item"
                    (click)="editEventForm.get('category').value.splice(i, 1)"
                    >close
                  </mat-icon>
                </mat-chip>
              </mat-chip-list>

              <mat-form-field class="example-full-width mt-5" appearance="fill">
                <mat-label>Visibilidad</mat-label>
                <mat-select formControlName="visibility">
                  <mat-option value="bogota"> Bogotá </mat-option>
                  <mat-option value="international">Internacional</mat-option>
                </mat-select>
              </mat-form-field>

              <hr />
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Estado *</mat-label>
                <mat-select type="select" formControlName="status">
                  <mat-option [value]="true">Activo</mat-option>
                  <mat-option [value]="false">Inactivo</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Masivos*</mat-label>
                <mat-select type="select" formControlName="massive_pay">
                  <mat-option [value]="true">Con masivos</mat-option>
                  <mat-option [value]="false">Sin masivos</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Capacidad</mat-label>
                <input matInput autocomplete="off" formControlName="limit" />
              </mat-form-field>

              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Selecciona un rango para el evento </mat-label>
                <mat-date-range-input
                  [rangePicker]="picker"
                  [max]="editEventForm.get('finish_date').value"
                  [min]="editEventForm.get('init_date').value"
                >
                  <input
                    matStartDate
                    placeholder="Fecha de inicio"
                    formControlName="init_date"
                  />
                  <input
                    matEndDate
                    placeholder="Fecga de fin"
                    formControlName="finish_date"
                  />
                </mat-date-range-input>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
           
            </div>
            <div class="col-xl-6 col-sm-12">
              <div class="avatar-upload">
                <div class="avatar-edit">
                  <input
                    type="file"
                    id="imageUpload"
                    accept=".png, .jpg, .jpeg"
                    (change)="fileChangeEvent($event)"
                  />
                  <label for="imageUpload" class="edit-label">
                    <mat-icon style="color: rgb(218, 214, 214)">edit</mat-icon>
                  </label>
                </div>
              </div>
              <img
                class="event-img"
                draggable="false"
                [src]="form.base64.value"
                (error)="handleNotFoundSource($event)"
              />
            </div>
          </div>
          <div>
            <div  class="card-group">
              <div
                class="col"
                *ngFor="let cute of cuts.controls; let i = index"
              >
                <ng-container [formGroup]="cute">
                  <div
                    class="
                      card card-custom
                      bg-gray-100
                      card-stretch
                      gutter-b
                    "
                    style="max-width: 27rem"
                  >
                    <div class="card-header border-0 btn-sm">
                      <div class="card-toolbar d-flex" style="width: 100%">
                        <div style="width: 90%">
                          <p class="h2">Corte {{ i + 1 }}</p>
                        </div>
                        <div style="width: 10%">
                          <mat-slide-toggle formControlName="is_active">
                            <h6></h6>
                          </mat-slide-toggle>
                          <!-- <div class="
                              btn btn-sm btn-light-danger
                              font-weight-bolder
                              py-2
                              px-5
                              cursor-pointer
                            " (click)="deleteCute(i)">
                            <mat-icon>close</mat-icon>
                          </div> -->
                        </div>
                      </div>
                    </div>
                    <div
                      class="
                        card-body
                        p-0
                        position-relative
                        overflow-hidden
                      "
                    >
                      <div class="p-5">
                        <div class="m-0">
                          <h6>Información</h6>

                          <mat-form-field
                            class="example-full-width"
                            appearance="fill"
                          >
                            <mat-label>Nombre*</mat-label>
                            <input
                              matInput
                              autocomplete="off"
                              formControlName="name"
                            />
                          </mat-form-field>

                          <mat-form-field
                            class="example-full-width"
                            appearance="fill"
                          >
                            <mat-label>Descripción</mat-label>
                            <textarea
                              matInput
                              style="max-height: 80px"
                              formControlName="description"
                            ></textarea>
                          </mat-form-field>

                          <mat-form-field
                            class="example-full-width"
                            appearance="fill"
                          >
                            <mat-label>Capacidad</mat-label>
                            <input
                              matInput
                              autocomplete="off"
                              formControlName="quantity"
                            />
                          </mat-form-field>

                          <mat-slide-toggle
                            formControlName="price_group_selected"
                          >
                            <h6>Precio Grupal</h6>
                          </mat-slide-toggle>

                          <div
                            class="mt-8 mb-8"
                            *ngIf="cuts.value[i].price_group_selected"
                          >
                            <mat-form-field
                              class="example-full-width"
                              appearance="fill"
                            >
                              <mat-label>PRECIO GRUPAL COP*</mat-label>
                              <input
                                matInput
                                type="number"
                                autocomplete="off"
                                formControlName="price_group_cop"
                              />
                            </mat-form-field>
                            <mat-form-field
                              class="example-full-width"
                              appearance="fill"
                            >
                              <mat-label>PRECIO GRUPAL USD</mat-label>
                              <input
                                matInput
                                type="number"
                                autocomplete="off"
                                formControlName="price_group_usd"
                              />
                            </mat-form-field>
                          </div>

                          <h6 class="mt-8">Precio</h6>

                          <div>
                            <mat-form-field
                              class="example-full-width"
                              appearance="fill"
                            >
                              <mat-label>COP*</mat-label>
                              <input
                                matInput
                                type="number"
                                autocomplete="off"
                                formControlName="cop"
                              />
                            </mat-form-field>
                            <mat-form-field
                              class="example-full-width"
                              appearance="fill"
                            >
                              <mat-label>USD</mat-label>
                              <input
                                matInput
                                type="number"
                                autocomplete="off"
                                formControlName="usd"
                              />
                            </mat-form-field>
                          </div>

                          <h6>Registros</h6>
                          <mat-form-field
                            class="example-full-width"
                            appearance="fill"
                          >
                            <mat-label
                              >Maximo de registros por pago</mat-label
                            >
                            <input
                              matInput
                              autocomplete="off"
                              type="number"
                              formControlName="quantity_register_max"
                              [min]="1"
                            />
                          </mat-form-field>
                          <mat-form-field
                            class="example-full-width"
                            appearance="fill"
                          >
                            <mat-label
                              >Minimo de registros por pago</mat-label
                            >
                            <input
                              matInput
                              autocomplete="off"
                              type="number"
                              formControlName="quantity_register_min"
                              [min]="1"
                            />
                          </mat-form-field>

                          <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Masivos*</mat-label>
                            <mat-select type="select" formControlName="massive_pay">
                              <mat-option [value]="true">Con masivos</mat-option>
                              <mat-option [value]="false">Sin masivos</mat-option>
                            </mat-select>
                          </mat-form-field>

                          <h6>Disponibilidad</h6>

                          <mat-form-field
                            appearance="fill"
                            class="example-full-width"
                          >
                            <mat-label
                              >Selecciona un rango para el corte
                            </mat-label>
                            <mat-date-range-input
                              [rangePicker]="picker"
                              [max]="editEventForm.get('finish_date').value"
                              [min]="editEventForm.get('init_date').value"
                            >
                              <input
                                matStartDate
                                placeholder="Fecha de inicio"
                                formControlName="date_init"
                              />
                              <input
                                matEndDate
                                placeholder="Fecga de fin"
                                formControlName="date_finish"
                              />
                            </mat-date-range-input>
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="picker"
                            ></mat-datepicker-toggle>
                            <mat-date-range-picker
                              #picker
                            ></mat-date-range-picker>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center align-self-center">
            <div
              (click)="addCute()"
              class="
                more-cut
                btn btn-sm btn-light-primary
                font-weight-bolder
                py-2
                px-5
                cursor-pointer
              "
            >
              <mat-icon>add</mat-icon>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-sm-12 mt-5">
              <button
                ngbAutofocus
                [disabled]="isLoading"
                class="
                  btn btn-sm btn-light-primary
                  font-weight-bolder
                  py-2
                  px-5
                  cursor-pointer
                "
              >
              <div *ngIf="!isLoading">
                Guardar
              </div>
              <div class="spinner-border" role="status" *ngIf="isLoading">
                <span class="sr-only">Loading...</span>
              </div>
              </button>
            </div>
            <div class="col-xl-6 col-sm-12 mt-5">
              <button
                type="button"
                (click)="modal.close()"
                class="
                  btn btn-sm btn-light-danger
                  font-weight-bolder
                  py-2
                  px-5
                  cursor-pointer
                "
              >
                Cancelar
              </button>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
