<div class="row">
  <div class="col-xl-9 col-sm-12">
    <form
      [formGroup]="getReportForm"
      (ngSubmit)="onSubmit()"
      style="width: 100%"
    >
      <mat-form-field appearance="fill" class="ml-sm-0 ml-xl-3">
        <mat-label>Selecciona Evento</mat-label>
        <mat-select type="select" formControlName="event">
          <mat-option *ngFor="let event of events" value="{{ event.id }}">{{
            event.name
          }}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="submitted && form.year.errors?.required">Selecciona un año por favor
          </mat-error> -->
      </mat-form-field>

      <mat-form-field appearance="fill" class="ml-sm-0 ml-xl-3">
        <mat-label>Selecciona usuarios</mat-label>
        <mat-select type="select" formControlName="filter">
          <!-- <mat-option *ngFor="let year of yearsforSelect" value="{{year.id}}">{{ year.name }}</mat-option> -->
          <mat-option value="1">TODOS</mat-option>
          <mat-option value="2">SIN PASTOR</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="submitted && form.year.errors?.required">Selecciona un año por favor
              </mat-error> -->
      </mat-form-field>

      <button
        *ngIf="!isLoading"
        [disabled]="getReportForm.invalid"
        class="
          btn btn-sm btn-light-primary
          font-weight-bolder
          py-2
          px-5
          ml-5
          cursor-pointer
        "
      >
        Buscar
      </button>

      <button
        class="
          btn btn-sm btn-light-primary
          font-weight-bolder
          py-2
          px-5
          ml-5
          cursor-pointer
        "
        (click)="handleAdd()"
      >
        Crear Usuario
      </button>

      <div
        *ngIf="isLoading"
        class="spinner-border text-primary ml-5"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
      <!-- <button *ngIf="!isLoading$" matTooltip="Limpiar Filtro" type="button" (click)="cleanFilter();"
              class="btn ml-4 cursor-pointer">
              <mat-icon style="color: #3699FF">360</mat-icon>
          </button>

          <div *ngIf="isLoading$" class="spinner-border text-primary ml-5" role="status">
              <span class="sr-only">Loading...</span>
          </div> -->
    </form>
  </div>
</div>
<div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Buscar..." [formControl]="search" />
  </mat-form-field>
</div>
<div class="example-container">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="reference">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Referencia
      </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Referencia">
        {{ element.reference ? element.reference : "" }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="payment_method">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Metodo de Pago
      </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Metodo de Pago">
        {{ element.payment_method ? element.payment_method : "" }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Estado
      </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Estado">
        {{ element.status ? element.status : "" }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="identification">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Identificación
      </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Identificación">
        {{ element.identification }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Nombre
      </mat-header-cell>
      <mat-cell
        *matCellDef="let element"
        data-label="Nombre"
      >
        {{ element.name }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="last_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Apellido
      </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Apellido">
        {{ element.last_name }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Email
      </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Email">
        {{ element.email }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="event">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Evento</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Evento">
        {{ element.event }}
      </mat-cell> </ng-container
    ><ng-container matColumnDef="assistant">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Asistente / Pago
      </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Asistente / Pago">
        {{ element.isAssistant ? "Asistente" : "Pago" }}

      </mat-cell> </ng-container
    ><ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Opciónes
      </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Opciónes ">
        <div class="d-flex">
          <a>
            <mat-icon
              (click)="handleTochangeEvent(element)"
              style="
                font-size: x-large;
                margin-left: 10px;
                color: #187de4;
                cursor: pointer;
              "
              >event
            </mat-icon>
          </a>
          <a>
            <mat-icon
              (click)="handleToEdit(element)"
              style="font-size: x-large; color: #187de4; cursor: pointer"
              >edit
            </mat-icon>
          </a>
          <a>
            <mat-icon
              (click)="sendEmail(element)"
              matTooltip="Envio de correo"

              style="
                font-size: x-large;
                color: #30d49f;
                cursor: pointer;
                margin-left: 10px;
              "
            >
              email</mat-icon
            >
          </a>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
  </mat-table>
  <mat-paginator
    class="mat-elevation-z0"
    [length]="count"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 15, 20]"
    (page)="onSubmit($event)"
  >
  </mat-paginator>
</div>
