<div class="example-container mat-elevation-z0">
    <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="leader12">
            <mat-header-cell *matHeaderCellDef> Lider 12 </mat-header-cell>
            <mat-cell  *matCellDef="let element" class="cursor-pointer" (click)="handleEdit(element);">
                {{element.leader}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="leadergo">
            <mat-header-cell *matHeaderCellDef class="show-header"> Lider GO </mat-header-cell>
            <mat-cell  *matCellDef="let element" class="cursor-pointer" (click)="handleEdit(element);"> {{element.host}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="day">
            <mat-header-cell *matHeaderCellDef> Día/Hora</mat-header-cell>
            <mat-cell *matCellDef="let element" class="cursor-pointer" (click)="handleEdit(element);">
                {{element.day }} {{parseDate(element.hour) | date:'shortTime'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="contact">
            <mat-header-cell  *matHeaderCellDef> Contacto</mat-header-cell>
            <mat-cell *matCellDef="let element" class="cursor-pointer" (click)="handleEdit(element);">
                {{ element.movil }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef class="show-header"> Tipo </mat-header-cell>
            <mat-cell *matCellDef="let element" class="cursor-pointer" (click)="handleEdit(element);">
                {{ parseGoType(element.idType) }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
            <mat-cell *matCellDef="let element" class="cursor-pointer" (click)="handleEdit(element);">
                {{element.status ? 'Activa' : 'Cerrada' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">

                <button mat-button [matMenuTriggerFor]="menu" class="btn btn-sm btn-light-primary font-weight-bolder cursor-pointer">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #menu="matMenu">
                    <div mat-menu-item class="d-flex justify-content-center ">
                        <button class="btn">
                            <mat-icon (click)="handleEdit(element);" style="color: var(--primary);"
                            matTooltip="Editar Célula">edit</mat-icon>
                        </button>
                    </div>

                    <div mat-menu class="d-flex justify-content-center cursor-pointer primary p-2">
                        <button class="btn btn-light-success" (click)="handleReportGO(element);">
                            Ingresar reporte
                        </button>
                    </div>

                    <div mat-menu-item class="d-flex justify-content-center cursor-pointer primary">
                        <button class="btn">
                            <mat-icon (click)="handleSeeReportGo(element);" style="color: var(--primary);"
                            matTooltip="Ver reporte">description</mat-icon>
                        </button>
                    </div>

                    <div mat-menu-item class="d-flex justify-content-center cursor-pointer primary">
                        <button class="btn">
                            <mat-icon (click)="handleClose(element);" style="color: var(--danger);"
                            matTooltip="Cerrar Célula">close</mat-icon>
                        </button>
                    </div>

                </mat-menu>

            </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="report">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="handleReportGO(element);">
                <button class="btn btn-sm btn-light-primary font-weight-bolder py-2 px-5 cursor-pointer">Reportar Go</button>
            </mat-cell>
        </ng-container>

        
        <ng-container matColumnDef="seeReport">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="handleSeeReportGo(element);" class="cursor-pointer" matTooltip="Reporte GO"
            style="color: var(--primary); display: flex; justify-content: center;">
               <mat-icon>description</mat-icon>
            </mat-cell>
        </ng-container>


        <ng-container matColumnDef="close">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="handleClose(element);">
                <button class="btn btn-sm btn-light-danger font-weight-bolder py-2 px-5 cursor-pointer">Cerrar</button>
            </mat-cell>
        </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    
    <mat-paginator class="mat-elevation-z0" #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
</div>