<div class="row">
    <div class="col-xl-12 col-sm-12">

        <div class="card card-custom example example-compact gutter-b">
            <div class="card-header d-flex">
                <div class="w-75">
                    <div class="card-title d-block pb-2">
                        <h3 class="card-label pt-4 pb-4">Roles de usuarios</h3>
                    </div>
                </div>
                <div class="card-toolbar">
                    <div class="example-tools justify-content-center">
                        <mat-icon style="font-size: xx-large; color: rgb(218, 214, 214);">groups</mat-icon>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <div class="row">
                        <div class="col-xl-1 col-sm-1">
                            <button type="button" class="btn btn-primary" matTooltip="Nuevo Rol" (click)="handleCreate($event)">
                                <mat-icon style="font-size: 25px;">note_add</mat-icon>
                            </button>
                        </div>
                        <div class="col-xl-6 col-sm-6">

                            <mat-form-field class="example-full-width">
                                <mat-icon class="mr-2" color="primary" matPrefix>search</mat-icon>
                                <input matInput type="search" autocomplete="off" placeholder="Buscar..." #searchR>
                            </mat-form-field>

                        </div>
                    </div>

                    <div class="row p-3">
                        <div class="col-xl-12 col-sm-12">
                            <app-roles-table [search]="searchR.value"></app-roles-table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>