.img-form {
    background-image: url('/assets/media/svg/illustrations/add-event.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.custom-file {
 @apply mb-2
}