<div>
  <!-- tabs de cambio de estado -->
  <div class="row">
    <div class="col-12">
      <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link " [ngClass]="{'active':type_graph == 'total' }"
          (click)="getFilterDateChart('total');">
          Total de Valores</a>
        <a class="flex-sm-fill text-sm-center nav-link" [ngClass]="{'active':type_graph == 'count' }"
          (click)="getFilterDateChart('count')">
          Total de Transacciones</a>

        <a class="flex-sm-fill text-sm-center nav-link" [ngClass]="{'active':type_graph == 'stripe_paypal' } "
          (click)="getFilterDateChart('stripe_paypal')">
          Sripe / Paypal</a>
      </nav>
    </div>
  </div>

</div>
<mat-form-field appearance="fill" class="mt-5">
  <mat-label>Seleccióna una Fecha</mat-label>
  <input matInput [matDatepicker]="picker" [formControl]="dateRange" (ngModelChange)="getFilterDateChart()">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="fill" *ngIf="type_graph == 'stripe_paypal'" class="ml-3">
  <mat-label>Moneda</mat-label>
  <mat-select [formControl]="currency" (ngModelChange)="getFilterDateChart()">

    <mat-option [value]="'USD'">USD</mat-option>
    <mat-option [value]="'MXN'">MXN</mat-option>
  </mat-select>
</mat-form-field>

<apx-chart *ngIf="showChart" [series]="chartTransactionsHours.series" [chart]="chartTransactionsHours.chart"
  [xaxis]="chartTransactionsHours.xaxis" [stroke]="chartTransactionsHours.stroke"
  [tooltip]="chartTransactionsHours.tooltip" [dataLabels]="chartTransactionsHours.dataLabels"></apx-chart>
<app-not-found-chart *ngIf="!showChart"></app-not-found-chart>
