<mat-form-field appearance="fill">
  <mat-label>Seleccióna una Fecha</mat-label>
  <input matInput [matDatepicker]="picker" [formControl]="dateRange" (ngModelChange)="getFilterDateChart()">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<apx-chart *ngIf="showChart" [series]="chartTransactionsHours.series" [chart]="chartTransactionsHours.chart" [xaxis]="chartTransactionsHours.xaxis"
  [stroke]="chartTransactionsHours.stroke" [tooltip]="chartTransactionsHours.tooltip" [dataLabels]="chartTransactionsHours.dataLabels"></apx-chart>
<app-not-found-chart *ngIf="!showChart" ></app-not-found-chart>
