.cont-img {
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: none;
  width: 150px;
  justify-content: center;
  align-items: center;
  font-size: 65px;
  margin-top: 16px;
  background-color: #c9f7f5;
  color: #1bc5bd;
}

.switch_user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
