.cont-img {
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: none;
  width: 150px;
  justify-content: center;
  align-items: center;
  font-size: 65px;
  margin-top: 16px;
  background-color: #C9F7F5;
  color: #1BC5BD;
}
