<div class="row">
  <div class="col-xl-12 col-sm-12">
    <div class="card card-custom example example-compact gutter-b">
      <div class="card-header d-flex">
        <div class="w-75">
          <div class="card-title d-block pb-2">
            <h3 class="card-label pt-4 pb-4">Crear Email</h3>
          </div>
        </div>
        <div class="card-toolbar">
          <div class="example-tools justify-content-center"></div>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="create_email" (ngSubmit)="createEmail()">
          <h4 class="h4">Asunto</h4>
          <div class="row mt-5" formGroupName="subject">
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Español</mat-label>
                <input
                  matInput
                  type="text"
                  autocomplete="off"
                  placeholder=""
                  formControlName="es"
                />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Ingles</mat-label>
                <input
                  matInput
                  type="text"
                  autocomplete="off"
                  placeholder=""
                  formControlName="en"
                />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Portugues</mat-label>
                <input
                  matInput
                  type="text"
                  autocomplete="off"
                  placeholder=""
                  formControlName="pt"
                />
              </mat-form-field>
            </div>
          </div>

          <h4 class="h4 mt-5">Cuerpo del correo</h4>
          <div class="row mt-5" formGroupName="body">
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Español </mat-label>
                <textarea matInput autocomplete="off" formControlName="es">
                </textarea>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Ingles </mat-label>
                <textarea matInput autocomplete="off" formControlName="en">
                </textarea>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Portugues </mat-label>
                <textarea matInput autocomplete="off" formControlName="pt">
                </textarea>
              </mat-form-field>
            </div>
          </div>

          <h4 class="h4">Texto Bliblico</h4>
          <div class="row mt-5" formGroupName="biblical_text">
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Español</mat-label>
                <input
                  matInput
                  type="text"
                  autocomplete="off"
                  placeholder=""
                  formControlName="es"
                />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Ingles</mat-label>
                <input
                  matInput
                  type="text"
                  autocomplete="off"
                  placeholder=""
                  formControlName="en"
                />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Portugues</mat-label>
                <input
                  matInput
                  type="text"
                  autocomplete="off"
                  placeholder=""
                  formControlName="pt"
                />
              </mat-form-field>
            </div>
          </div>

          <h4 class="h4 mt-5">Imagen</h4>
          <div class="row">
            <div>
              <img
                class="cont-img"
                alt=""
                [src]="show_image"
                (click)="inputTypeFile.click()"
              />
            </div>
          </div>

          <div class="row d-flex justify-content-center mt-5">
            <div>
              <div class="d-flex justify-content-center">
                <button
                  class="
                    btn btn-sm btn-light-primary
                    font-weight-bolder
                    mt-3
                    py-2
                    px-5
                    cursor-pointer
                  "
                  type="submit"
                >
                  <div class="spinner-border" role="status" *ngIf="isLoading">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <div *ngIf="!isLoading">Crear Correo</div>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<input
  type="file"
  (change)="fileChangeEvent($event)"
  #inputTypeFile
  style="display: none"
  accept="image/*"
/>
