<form *ngIf="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit();">
    <div class="modal-header">
        <h4 class="modal-title">Cambiar contraseña</h4>
        <div class="card-toolbar">
            <div class="example-tools justify-content-center">
                <mat-icon style="font-size: xx-large; color: rgb(218, 214, 214);">vpn_key</mat-icon>
            </div>
        </div>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-xl-12 col-sm-12 p-3">

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Antigua contraseña</mat-label>
                    <input matInput type="password" autocomplete="off" formControlName="oldPassword">
                    <mat-error *ngIf="form.oldPassword.errors?.required">
                        Digita la antigua contraseña
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nueva contraseña</mat-label>
                    <input matInput type="password" autocomplete="off" formControlName="newPassword">
                    <mat-error *ngIf="form.newPassword.errors?.required">
                        Digita la nueva contraseña
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Repite Nueva contraseña</mat-label>
                    <input matInput type="password" autocomplete="off" formControlName="confirmNewPassword">
                    <mat-error *ngIf="form.confirmNewPassword.errors?.required">
                        Digita la antigua contraseña
                    </mat-error>
                    <mat-error *ngIf="form.confirmNewPassword.errors?.mustMatch">
                        Las contraseñas no coinciden
                    </mat-error>
                </mat-form-field>

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancelar</button>
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>