.btn-search {
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
}

.exportExcel {
  background: #1f6f43;
  color: white;
}

.exportExcel:hover {
  background: #1f6f43 !important;
  color: white;
}
.btns-flex {
  display: flex;
}

@media screen and (max-width: 960px) {
  .btns-flex {
    display: block;
  }
}