<div class="row">
  <div class="col-xl-12 col-sm-12">
    <div class="card card-custom example example-compact gutter-b">
      <div class="card-header d-flex">
        <div class="w-75">
          <div class="card-title d-block pb-2">
            <h3 class="card-label pt-4 pb-4">Emails</h3>
          </div>
        </div>
        <div class="card-toolbar">
          <div class="example-tools justify-content-center">
            <i class="fas fa-envelope fa-lg"></i>
          </div>
        </div>
      </div>
      <div class="card-body">
        <button
          type="button"
          class="btn btn-primary"
          matTooltip="Crear Correo"
          (click)="createEmail()"
        >
          <i class="fas fa-envelope fa-lg"></i>
        </button>

        <div class="row">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="i">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>

            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef>Imagen</th>
              <td mat-cell *matCellDef="let element">
                <img
                  class="image-email"
                  [src]="element?.image?.url"
                  alt=""
                  (error)="handleErrorImage($event)"
                />
              </td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Tipo</th>
              <td mat-cell *matCellDef="let element">
                {{ getType(element.type) }}
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Estado</th>
              <td mat-cell *matCellDef="let element">
                {{ getStatus(element.status) }}
              </td>
            </ng-container>

            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef>Fecha de creación</th>
              <td mat-cell *matCellDef="let element">
                {{ element.created_at | date: "yyyy/MM/dd" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="updated_at">
              <th mat-header-cell *matHeaderCellDef>Fecha de actualización</th>
              <td mat-cell *matCellDef="let element">
                {{ element.updated_at | date: "yyyy/MM/dd" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="options">
              <th mat-header-cell *matHeaderCellDef>Opciónes</th>
              <td mat-cell *matCellDef="let element">
                <a
                  (click)="handleEditEmail(element)"
                  class="btn btn-icon btn-light btn-sm mr-3 cursor-pointer"
                >
                  <span class="svg-icon svg-icon-md svg-icon-primary">
                    <mat-icon class="icon-list"> edit</mat-icon>
                  </span></a
                >
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
