<form [formGroup]="assistantForm" (ngSubmit)="submit();" style="width: 100%;" class="p-5">
  <h2 mat-dialog-title>Agregar Asistente</h2>

  <mat-accordion>
    <mat-expansion-panel disabled class="mat-elevation-z-0" [expanded]="step === 0" (opened)="setStep(0)"
      [disabled]="disableds[0]" hideToggle="true">

      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>
            <mat-icon style="color: white">account_circle</mat-icon>
            Información Personal
          </h3>
        </mat-panel-title>
        <!-- <mat-panel-description>
                    Datos Básicos
                </mat-panel-description> -->
      </mat-expansion-panel-header>

      <div class="row">
        <h2 style="font-size: large; font-weight: bold;">Tipo de registro</h2>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-radio-group name="registerType" aria-label="Select an option" (change)="handleRegisterType()"
            formControlName="registerType">
            <mat-radio-button value="1">Registro Nacional (Colombia)</mat-radio-button>
            <mat-radio-button class="ml-3" value="2">Registro Internacional</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="row">
        <div class="col-6">

          <!-- <mat-form-field appearance="fill" class="w-100">
              <mat-label>Tipo de documento* </mat-label>
              <mat-select type="select" formControlName="DocumentType">
                <mat-option *ngFor="let type of documentTypes" value="{{type.idDetailMaster}}">
                  {{type.description}}</mat-option>
              </mat-select>
            </mat-form-field> -->

          <mat-form-field class="w-100" appearance="fill" *ngIf="form.registerType.value == '1'">
            <mat-label>Número de documento* </mat-label>
            <input matInput autocomplete="off" formControlName="documentNumber">
            <!-- <mat-error *ngIf="form.documentNumber.errors?.required">El número de documento es
                                        requerido
                                    </mat-error> -->
          </mat-form-field>


          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Nombre*</mat-label>
            <input matInput autocomplete="off" formControlName="name">
            <!-- <mat-error *ngIf="form.names.errors?.required">El nombre es requerido
                                </mat-error> -->
          </mat-form-field>

          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Apellido*</mat-label>
            <input matInput autocomplete="off" formControlName="lastName">
            <!-- <mat-error *ngIf="form.surNames.errors?.required">El apellido es requerido
                                </mat-error> -->
          </mat-form-field>

        </div>
        <div class="col-6">

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Género*</mat-label>
            <mat-select type="select" formControlName="gender">
              <mat-option value="M">Masculino</mat-option>
              <mat-option value="F">Femenino</mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="form.gender.errors?.required">El genero es requerido
                                </mat-error> -->
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Fecha de nacimiento*</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="bornDate" formControlName="dateBirth"
              disabled>
            <mat-datepicker-toggle matSuffix [for]="bornDate">
            </mat-datepicker-toggle>
            <mat-datepicker #bornDate disabled="false"></mat-datepicker>
          </mat-form-field>

        </div>
      </div>

      <mat-action-row>
        <button type="button" mat-button color="primary" (click)="nextStep()">Siguiente</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z-0" [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true"
      [disabled]="disableds[1]">

      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>
            <mat-icon style="color: rgb(218, 214, 214);">supervised_user_circle</mat-icon>
            Información de Contacto
          </h3>
        </mat-panel-title>
        <!-- <mat-panel-description>
                    Contacto
                    <mat-icon class="ml-10" style="color: rgb(218, 214, 214);">contact_mail</mat-icon>
                </mat-panel-description> -->
      </mat-expansion-panel-header>


      <div class="row">
        <div class="col-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Celular *</mat-label>
            <input matInput autocomplete="off" formControlName="mobile" (keypress)="numberOnly($event);">
            <!-- <mat-error *ngIf="form.mobile.errors?.pattern || 
                                    form.mobile.errors?.maxlength ||
                                    form.mobile.errors?.minlength">El celular no es valido.
                                </mat-error> -->
          </mat-form-field>



          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Correo*</mat-label>
            <input matInput autocomplete="off" formControlName="email">
            <!-- <mat-error *ngIf="form.email.errors?.required">El correo es requerido
                                    </mat-error> -->
            <!-- <mat-error *ngIf="form.email.errors?.email">El correo no es valido.
                                </mat-error> -->
          </mat-form-field>

        </div>
        <div class="col-6">


          <mat-form-field appearance="fill" class="w-100" *ngIf="form.registerType.value == '1'">
            <mat-label>Ciudad *</mat-label>
            <mat-select type="select" formControlName="city" (click)="getCities()">
              <mat-option value="null">SELECCIONA CIUDAD</mat-option>
              <mat-option *ngFor="let city of cities" value="{{city.city}}">{{ city.city }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.city.errors?.required">La ciudad es requerida
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100" *ngIf="form.registerType.value == '2'">
            <mat-label>País *</mat-label>
            <mat-select type="select" formControlName="country">
              <mat-option value="null">SELECCIONA PAIS</mat-option>
              <mat-option *ngFor="let country of countries" value="{{country.name}}">{{ country.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Dirección</mat-label>
            <input matInput autocomplete="off" formControlName="address">
            <!-- <mat-error *ngIf="form.address.errors?.required">La dirección es requerida.
                                    </mat-error> -->
            <!-- <mat-error *ngIf="form.address.errors?.minlength || 
                                    form.address.errors?.maxlength || 
                                    form.address.errors?.pattern">La dirección no es valida.
                                </mat-error> -->
          </mat-form-field>

        </div>
      </div>

      <mat-action-row>
        <button type="button" mat-button color="accent" (click)="prevStep()">Anterior</button>
        <button type="button" mat-button color="primary" (click)="nextStep()">Siguiente</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z-0" [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true"
      [disabled]="disableds[2]">

      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>
            <mat-icon style="color: rgb(218, 214, 214);">maps_home_work</mat-icon>
            Información Ministerial
          </h3>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-6">

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Iglesia *</mat-label>
            <mat-select type="select" formControlName="typeChurch" (selectionChange)="getPlaces();">
              <mat-option *ngFor="let type of churchTypes" value="{{type.idDetailMaster}}">
                {{ type.description }}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="form.TypeChurch.errors?.required">La reunión es requerida
                                </mat-error> -->
          </mat-form-field>

          <ng-container *ngIf="form.typeChurch.value == '88'">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Sede *</mat-label>
              <mat-select type="select" formControlName="headquarters" (selectionChange)="getPastors()">
                <mat-option *ngFor="let place of places" [value]="place">
                  {{ place.name }} | {{ place.city }}
                </mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="form.idMeeting.errors?.required">La reunión es requerida
                                    </mat-error> -->
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Red *</mat-label>
              <mat-select type="select" formControlName="network" (selectionChange)="getPastors()">
                <!-- <mat-option *ngFor="let meet of meetings" value="{{meet.idMeeting}}">
                                            {{ meet.meetingType }}
                                        </mat-option> -->
                <mat-option value="01">Hombres</mat-option>
                <mat-option value="02">Mujeres</mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="form.idMeeting.errors?.required">La reunión es requerida
                                    </mat-error> -->
            </mat-form-field>

          </ng-container>

          <ng-container *ngIf="form.typeChurch.value && form.typeChurch.value != '88'">

            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Nombre de la iglesia *</mat-label>
              <input matInput autocomplete="off" formControlName="churchName">
              <!-- <mat-error *ngIf="form.address.errors?.required">La dirección es requerida.
                                        </mat-error> -->
              <!-- <mat-error *ngIf="form.address.errors?.minlength || 
                                        form.address.errors?.maxlength || 
                                        form.address.errors?.pattern">La dirección no es valida.
                                    </mat-error> -->
            </mat-form-field>
          </ng-container>

        </div>

        <div class="col-6">

          <ng-container *ngIf="form.typeChurch.value == '88'">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Pastor/Lider principal *</mat-label>
              <mat-select type="select" formControlName="pastor" (selectionChange)="getLeaders($event.value)">
                <mat-option *ngFor="let pastor of pastors" [value]="pastor">{{ pastor.name }} {{
                    pastor.last_name }}
                </mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="form.Pastor.errors?.required">El pastor es requerido
                </mat-error> -->
            </mat-form-field>
            <!-- 
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Lider *</mat-label>
                                <input type="text" matInput formControlName="Leader" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field> -->

            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Lider *</mat-label>
              <mat-select type="select" formControlName="leader">
                <mat-option *ngFor="let leader of leaders" [value]="leader">{{ leader.name }} {{ leader.last_name
                    }}
                </mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="form.Leader.errors?.required">El pastor es requerido
                </mat-error> -->
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="form.typeChurch.value && form.typeChurch.value != '88'">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Nombre del pastor principal *</mat-label>
              <input matInput autocomplete="off" formControlName="pastorName">
              <!-- <mat-error *ngIf="form.address.errors?.required">La dirección es requerida.
                                        </mat-error> -->
              <!-- <mat-error *ngIf="form.address.errors?.minlength || 
                                        form.address.errors?.maxlength || 
                                        form.address.errors?.pattern">La dirección no es valida.
                                    </mat-error> -->
            </mat-form-field>
          </ng-container>


          <!-- <div *ngIf="isLoading.leaders" class="spinner-border text-primary ml-5" role="status">
                                <span class="sr-only">Loading...</span>
                            </div> -->

          <!-- <mat-form-field class="w-100" appearance="fill">
                                <mat-label>Petición *</mat-label>
                                <input matInput autocomplete="off" formControlName="petition">
                                <mat-error *ngIf="form.petition.errors?.required">
                                    La petición es requerida.
                                </mat-error>
                                <mat-error *ngIf="form.petition.errors?.pattern">La petición no es valida.
                                </mat-error>
                            </mat-form-field> -->
        </div>
      </div>

      <mat-action-row>
        <button type="button" mat-button color="accent" (click)="prevStep()">Anterior</button>
        <button type="button" mat-button color="primary" (click)="nextStep()">Siguiente</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z-0" [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true"
      formGroupName="payment_data" [disabled]="disableds[3]">

      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>
            <mat-icon style="color: rgb(218, 214, 214);">text_snippet</mat-icon>
            Datos de Transacción
          </h3>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row p-5">
        <div class="column m-2">
          <mat-form-field appearance="fill">
            <mat-label>Selecciona Evento</mat-label>
            <mat-select type="select" formControlName="event" (selectionChange)="setFinancialCuts()">
              <mat-option *ngFor="let event of events" [value]="event">{{ event.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="column m-2">
          <mat-form-field appearance="fill">
            <mat-label>Selecciona un Corte</mat-label>
            <mat-select type="select" formControlName="financial_cut" (selectionChange)="changeCut()">
              <mat-option *ngFor="let financial_cut of financialCuts" [value]="financial_cut">
                {{ financial_cut.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="column m-2">
          <mat-form-field appearance="fill">
            <mat-label>Referencia de Pago</mat-label>
            <input matInput autocomplete="off" formControlName="payment_ref">
          </mat-form-field>
        </div>
        <div class="column m-2">
          <mat-form-field appearance="fill">
            <mat-label>Metodo de Pago</mat-label>
            <mat-select type="select" formControlName="payment_method">
              <mat-option value="pse">PSE</mat-option>
              <mat-option value="cash">Efectivo</mat-option>
              <mat-option value="credit">Tarjeta de Credito</mat-option>
              <mat-option value="administration">Administrativo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="column m-2">
          <mat-form-field appearance="fill">
            <mat-label>Pasarela de Pago</mat-label>
            <mat-select type="select" formControlName="payment_gateway">
              <mat-option value="epayco">Epayco</mat-option>
              <mat-option value="payu">PayU</mat-option>
              <mat-option value="stripe">Stripe</mat-option>
              <mat-option value="administration">Administrativo</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
        <div class="column m-2">
          <mat-form-field appearance="fill">
            <mat-label>Moneda</mat-label>
            <mat-select type="select" formControlName="currency">
              <mat-option value="cop">Pesos Colombianos - {{
                actualCute?.prices?.cop?
                actualCute?.prices?.cop : 
                ''
              }}
              </mat-option>
              <mat-option value="usd">Dolares -
                {{
                  actualCute?.prices?.usd?
                  actualCute?.prices?.usd : 
                  ''
                }}

              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="row p-5">
        <div class="column" style="margin-left: 7px;">
          <mat-form-field appearance="fill">
            <mat-label>Moneda</mat-label>
            <mat-select type="select" formControlName="currency">
              <mat-option value="cop">Pesos Colombianos</mat-option>
              <mat-option value="usd">Dolares</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> -->

      <mat-action-row>
        <button type="button" mat-button color="accent" (click)="prevStep()">Anterior</button>
        <button type="button" mat-button color="primary" *ngIf="isMobile" (click)="nextStep()">OK</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
  <!-- <mat-dialog-actions align="end"> -->
  <button cdkFocusInitial type="button" mat-button style="color: gray;" (click)="modal.close()">Cancelar</button>
  <button mat-button color="primary">Guardar</button>
  <!-- </mat-dialog-actions> -->
</form>
