<div class="row">
  <div class="col-xl-12 col-sm-12">
    <div class="card card-custom example example-compact gutter-b">
      <div class="card-header d-flex">
        <div class="w-75">
          <div class="card-title d-block pb-2">
            <h3 class="card-label pt-4 pb-4">Reporte de masivos</h3>
          </div>
        </div>
        <div class="card-toolbar">
          <div class="example-tools justify-content-center">
            <img src="assets/media/svg/icons/Shopping/Ticket.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-xl-1 col-sm-1">
            <!-- PERMISO DE CREAR MASIVO -->
            <!--  -->
            <button
              type="button"
              class="btn btn-primary"
              matTooltip="Descargar"
              *ngIf="permissions && permissions['EVT1531']"
              (click)="getReports()"
              [disabled]="isLoading"
            >
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                  *ngIf="isLoading"></span>
              
              <mat-icon  *ngIf="!isLoading" style="font-size: 25px">cloud_download</mat-icon>
            </button>

          </div>
          <!-- <div class="col-xl-6 col-sm-6">
            <mat-form-field class="example-full-width">
              <mat-icon class="mr-2" color="primary" matPrefix>search</mat-icon>
              <input
                matInput
                type="search"
                autocomplete="off"
                placeholder="Buscar..."
                [formControl]="search"
                (ngModelChange)="applyFilter()"
              />
            </mat-form-field>
          </div> -->
        </div>

        <!-- TABLE -->
        <!-- <div class="row mt-5">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="event">
              <th mat-header-cell *matHeaderCellDef>Evento</th>
              <td mat-cell *matCellDef="let element" class="max-td">{{ element.donation?.name }}</td>
            </ng-container>

            <ng-container matColumnDef="quantity_tickets">
              <th mat-header-cell *matHeaderCellDef>Tiquetes</th>
              <td mat-cell *matCellDef="let element">
                 {{ element.transaction.quantity_tickets }}
              </td>
            </ng-container>

            <ng-container matColumnDef="availability_tickets">
              <th mat-header-cell *matHeaderCellDef>Cupos disponibles</th>
              <td mat-cell *matCellDef="let element">
                 {{ element.transaction.availability_tickets }}
              </td>
            </ng-container>

            <ng-container matColumnDef="cut">
              <th mat-header-cell *matHeaderCellDef>Corte</th>
              <td mat-cell *matCellDef="let element">{{ element.cut.name }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Estado</th>
              <td mat-cell *matCellDef="let element">{{validateStatus(element.transaction.status)}}</td>
            </ng-container>

            <ng-container matColumnDef="detail">
              <th mat-header-cell *matHeaderCellDef>Detalle</th>
              <td mat-cell *matCellDef="let element; let i =index">
                <a
                  class="btn btn-icon btn-light btn-sm mx-3 cursor-pointer"
                  (click)="addUser(element)"
                  *ngIf="permissions && permissions['EVT1512']"
                >
                  <span><i class="fas fa-user-plus"></i></span>
                </a>
                <a
                  class="btn btn-icon btn-light btn-sm mx-3 cursor-pointer"
                  (click)="proofPayment(element)"
                  *ngIf="permissions && permissions['EVT1513']"
                >
                  <span><i class="fas fa-ticket-alt"></i></span>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div> -->
        <!-- <mat-paginator
          [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
        >
        </mat-paginator> -->
      </div>
    </div>
  </div>
</div>
