<div class="example-container mat-elevation-z0">
    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="image">
            <mat-header-cell *matHeaderCellDef>Imagen</mat-header-cell>
            <mat-cell *matCellDef="let element" class="cursor-pointer">
                <img class="img-rounded" src="{{element.image}}" (error)="handleErrorImage($event)">
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Nombre </mat-header-cell>
            <mat-cell *matCellDef="let element" class="cursor-pointer"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Descripción </mat-header-cell>
            <mat-cell *matCellDef="let element" class="cursor-pointer">
                {{ element.description }}
            </mat-cell>
        </ng-container>
        <!--{{ element.date | date:'shortTime'}}-->

        <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef>Categoria</mat-header-cell>
            <mat-cell *matCellDef="let element" class="cursor-pointer">
                {{ element.category }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Estatus</mat-header-cell>
            <mat-cell *matCellDef="let element" class="cursor-pointer">
                {{ (element.status) ? 'Activo':'Inactivo' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let element">

                <button [matMenuTriggerFor]="menu"
                    class="btn btn-sm btn-icon btn-bg-light btn-icon-primary btn-hover-primary cursor-pointer">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #menu="matMenu">

                    <div mat-menu-item class="d-flex justify-content-center ">
                        <button class="btn">
                            <mat-icon (click)="handleToEdit(element);"
                                matTooltip="Editar evento">edit</mat-icon>
                        </button>
                    </div>

                    <!-- <div mat-menu-item class="d-flex justify-content-center cursor-pointer primary">
                            <button class="btn">
                                <mat-icon (click)="handleToReport(element, 'visited');" [ngClass]="{'is-success': element.visited, 'is-primary': !element.visited}"
                                matTooltip="Reportar Visita">home</mat-icon>
                            </button>
                        </div> -->

                </mat-menu>

            </mat-cell>
        </ng-container>

        <!--ICONNN-->
        <!-- <ng-container matColumnDef="seeReport">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="handleSeeReportGo(element);" class="cursor-pointer" matTooltip="Reporte GO"
            style="color: var(--primary); display: flex; justify-content: center;">
               <mat-icon>description</mat-icon>
            </mat-cell>
        </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator class="mat-elevation-z0" #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
        [showFirstLastButtons]="true">
    </mat-paginator>
</div>