.select_cut:hover {
  cursor: pointer;
  box-shadow: 0px 8px 5px -7px #1BC5BD, 5px 5px 15px 5px rgb(0 0 0 / 0%)
}


.selected_cut {
  box-shadow: 0px 8px 5px -7px #1BC5BD, 5px 5px 15px 5px rgb(0 0 0 / 0%)
}
